{include file='public/header' /}
<script src="__STATIC__/ueditor/ueditor.config.js"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js"></script>
<script src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

<body>
        <div class="x-body">
            <form class="layui-form layui-form-pane" id="aform" action="{:url('admin/study/add')}" method="post" enctype="multipart/form-data">
                <div class="layui-form-item">
                    <label class="layui-form-label">专业</label>
                    <div class="layui-input-inline">
                        <input type="text" name="major" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            层次
                        </label>
                        <div class="layui-input-block">
                            <select name="layer" lay-verify="">
                                <option value="专升本" selected>专升本</option>
                                <option value="高起专">高起专</option>
                                <option value="高起本">高起本</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学习形式</label>
                    <div class="layui-input-inline">
                        <input type="text" name="type" value="业余函授" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            学制
                        </label>
                        <div class="layui-input-block">
                            <select name="esystem" lay-verify="">
                                <option value="3年" selected>3年</option>
                                <option value="5年">5年</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学费/年</label>
                    <div class="layui-input-inline">
                        <input type="text" name="money" value="1800元" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <input class="layui-btn" type="submit" value="立即发布" lay-filter="add" lay-submit>
                       
                </div>
                {:token()}
            </form>
        </div>
        {include file='public/base_js' /}
        
		<script type="text/javascript">  
		    function doUpload() {    
		        var form = document.getElementById("aform");
		        var fd = new FormData(form);
		        $.ajax({    
		          url: "{:url('article/upload')}" ,
		          type: 'POST',    
		          data: fd, 
		          async: false,    
		          cache: false,    
		          contentType: false,    
		          processData: false,    
		          success: function (response,status,xhr) {
		        	  layer.msg('上传成功', {icon: 6});
		        	  console.log(xhr);
		       	  },    
		          error: function (returndata) {
		        	  layer.msg('上传失败', {icon: 5});
		        	  console.log(returndata);

		        	  //原来的处理方式
		              //alert(returndata);    
		          }    
		      });    
			}    
		</script>  

        <script>
            layui.use(['form','layer','layedit'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer
              ,layedit = layui.layedit;


                layedit.set({
                  uploadImage: {
                    url: "./upimg.json" //接口url
                    ,type: 'post' //默认post
                  }
                })
  
            });
        </script>
        <script type="text/javascript">

            //实例化编辑器
            //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
            UE.getEditor('content',{initialFrameWidth:1000,initialFrameHeight:300,});
        </script>
    </body>

</html>